.food-display{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 140px;
}
.food-display h2{
    font-size: 70px;
    font-weight: 600;
    padding-left: 320px;
    color: #311f09 ;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 70px;
    gap: 30px;
    row-gap: 50px;
}