.order {
    margin: 40px;
    background: #fdd9d9;
    border-radius: 30px;
    padding: 50px;
    padding-left: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.order h1 {
    font-size: 52px;
    color: #311f09;
    font-weight: 600;
    margin-bottom: 20px;
}

.order button {
    margin-left: 60px;
    gap: 20px;
}

.order button.red {
    color: #ffffff ;
    background: #f54748 !important;
    min-width: 220px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

.order button.white {
    color: #f54748 !important;
    background: #ffffff7f !important;
    min-width: 220px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}
