.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    padding-top: 10px;
    height: 60px;
}
.title{
    display: flex;
}
.nav-profile{
    width: 70px;
    border-radius: 50%;
}
